:root {
  --primary-c1: hsl(26, 100%, 55%);
  --primary-c2: hsl(25, 100%, 94%);
  --neutral-c3: hsl(220, 13%, 13%);
  --neutral-c4: hsl(219, 9%, 45%);
  --neutral-c5: hsl(220, 14%, 75%);
  --neutral-c6: hsl(223, 64%, 98%);
  --neutral-c7: hsl(0, 0%, 100%);
  --neutral-c8: hsl(0, 0%, 0%);
}