.main__empty-cart.toggleUp {
  cursor: pointer;
  animation: cartUp .3s linear forwards .1s;
  // transition: .3s linear forwards .1s;
}

.toggleDown {
  animation: cartDown .3s linear forwards .1s;
}

@keyframes cartDown {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%) scaleY(.9);
  }

  80% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%) scaleY(.9);
  }

  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%) scaleY(1);
  }
}

@keyframes cartUp {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%) scaleY(1);
  }

  80% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%) scaleY(.9);
  }

  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%) scaleY(.9);
  }
}