.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1.5rem;

  &__div1 {
    display: inherit;
    align-items: center;
  }

  &__div2 {
    display: inherit;
    align-items: center;
    justify-content: end;
  }
}